[submodule "onboard/BME280_SensorAPI"]
	path = onboard/BME280_SensorAPI
	url = https://github.com/boschsensortec/BME280_SensorAPI
[submodule "onboard/BME68x_SensorAPI"]
	path = onboard/BME68x_SensorAPI
	url = https://github.com/boschsensortec/BME68x_SensorAPI
